@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --poppins: "Poppins", sans-serif;
  --clr-light: #ffff;
  --clr-dark: #2b2b2b;
  --clr-lightgreen: #d7ded7;
  --clr-primary: #e1e6e0;
  --h1: 90px;
  --h2: 33px;
  --h3: 24px;
  --h4: 16px;
  --h5: 12px;
  --h6: 10px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: var(--clr-dark);
  font-family: var(--truculenta);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 5rem;
}

/* HEADER */
.header {
  position: sticky;
  background-color: transparent;
  /* padding: 2rem 0; */
  transform: translateY(5rem);
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  z-index: 9999;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: flex;
  gap: 2rem;
}
.header__nav li a {
  color: var(--clr-dark);
  font-weight: 400;
  font-size: 2rem;
}
.header h3 {
  font-size: var(--h3);
  font-weight: 500;
}
/* MOBILE RESPONSIVE home nav*/

.header .toggle__menu span {
  background-color: var(--clr-dark);
  width: 3rem;
  height: 0.6rem;
  display: block;
  border: 2px solid var(--clr-dark);
  border-radius: 1rem;
  transition: all 0.5s ease;
}
.header .toggle__menu {
  display: none;
}

/* HOME BANNER */

.homeBanner {
  background: url(./img/banner.png);
  width: 96vw;
  margin: 0 auto;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.homeBanner h1 {
  font-size: var(--h1);
  color: var(--clr-dark);
  font-weight: 500;
  letter-spacing: 3rem;

  /* MOBILE RESPONSIVE FOR HEADER */
}
.homeBanner__wrapper span {
  display: inline-block;
  position: relative;
  background-color: var(--clr-dark);
  width: 3rem;
  height: 0.3rem;
  bottom: 1rem;
}
.homeBanner p {
  font-size: 1.5rem;
}
@media screen and (max-width: 520px) {
  .header .toggle__menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .header {
    position: fixed;
    width: 100%;
  }

  .header__nav {
    position: fixed; /*  para sumunod*/
    flex-direction: column; /*para nakapatayo */
    top: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-light);
    width: 100%;
    height: 100vh;
    margin-top: 25rem;
    transform: translateY(-14rem);
    z-index: 99; /*para nasa unahan ng Lahat */
    right: -100%;
    transition: all 0.5s ease;
  }
  .header__nav.open {
    right: 0;
  }
  .toggle__menu.open span:first-child {
    transform: translate(0, 10px) rotate(225deg);
    transition: all 0.5s ease;
  }
  .toggle__menu.open span:nth-child(2) {
    opacity: 0; /*para di kita */
    transition: all 0.5s ease;
  }
  .toggle__menu.open span:last-child {
    transform: translate(0, -11.5px) rotate(-225deg);
    transition: all 0.5s ease;
  }
}

/* LATEST ARTICLE */

.latestArticle {
  padding: 15rem 0;
  background-color: var(--clr-lightgreen);
}
.latestArticle__title h2 {
  font-size: var(--h2);
  color: var(--clr-dark);
  text-align: center;
}
.latestArticle__title span {
  display: inline-block;
  position: relative;
  background-color: var(--clr-dark);
  width: 5rem;
  height: 0.3rem;
  bottom: 1rem;
}
.latestArticle__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 5rem;
  justify-items: center;
  align-items: center;
  margin-top: 5rem;
}
.card__details {
  text-align: center;
}

.latestArticle__title {
  text-align: center;
}

/* MOBILE RESPONSIVE FOR HOME CATALOG */
@media screen and (max-width: 520px) {
  .latestArticle__wrapper {
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 5rem;
    justify-items: center;
    align-items: center;
    margin-top: 5rem;
    margin-left: 10rem;
  }
  .latestArticle__title {
    text-align: center;
    margin-left: 10rem;
  }
}

/* ABOUT */

.about {
  background-color: var(--clr-lightgreen);
  margin: 0rem;
}
.about__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
  background-color: var(--clr-light);
  margin: 0rem;
}
.about__wrappper img {
  width: 300rem;
}
.about__wrapper h2 {
  font-size: var(--h2);
  display: grid;
  align-items: center;
  justify-content: center;
  padding-bottom: 7rem;
}
.about__text p {
  display: grid;
  align-items: center;
  text-align: justify;
  justify-items: center;
  margin-right: 10rem;
}
/* MOBILE RESPONSIVE FOR HOME CATALOG */
@media screen and (max-width: 520px) {
  /* .about__wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  .about__img {
    width: 150vw;
    height: 1vh;
    object-fit: auto;
    align-items: center;
    flex-direction: column;
  }
  .about__wrapper p {
    text-align: justify;
    flex-direction: column;
    max-width: 100rem;
  } */

  .about__wrapper {
  display: flex;
    flex-direction: column;
    margin-left: 5rem;
}
.about__wrappper img {
  width: 150rem;
}
.about__wrapper h2 {
  font-size: var(--h2);
  display: grid;
  align-items: center;
  justify-content: center;
  padding-bottom: 7rem;
}
.about__text p {
  display: grid;
  align-items: center;
  text-align: justify;
  justify-items: center;
  margin-right: 10rem;
}

/*SUBCRIBE*/

.subscribe {
  padding: 5rem 0;
  background-color: var(--clr-lightgreen);
}
.subscribe__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.subscribe__wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe__title h2 {
  font-size: var(--h2);
  font-weight: 500;
  text-align: center;
}
.subscribe__title p {
  text-align: center;
}
form input {
  width: 200%;
  max-width: 50rem;
  height: 5rem;
  border: none;
  margin-bottom: 3rem;
  justify-items: center;
}

/* FOOTER */

.footer {
  padding: 2rem 0;
  background-color: var(--clr-light);
  color: var(--clr-dark);
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* OTHERS */

.card {
  background-color: var(--clr-light);
  max-width: 30rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card img {
  width: 40rem;
  height: 20rem;
}
.card__details {
  padding: 1rem;
  margin: 4rem;
}
.card__details p {
  margin-bottom: 1rem;
  text-align: center;
}
.card__details span {
  display: inline-block;
  position: relative;
  background-color: var(--clr-dark);
  width: 5rem;
  height: 0.3rem;
  right: 1rem;
  bottom: 1rem;
}

.btn {
  background-color: transparent;
  border: transparent;
  padding: 1rem 2rem;
  color: transparent;
}

.btn.bg--light {
  background-color: var(--clr-primary);
  border: 1px solid var(--clr-dark);
  color: var(--clr-dark);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn.bg--light:hover {
  background-color: var(--clr-light);
  color: var(--clr-dark);
}
.Social {
  display: flex;
  gap: 1rem;
}
.Social li a {
  color: var(--clr-dark);
}
